USE [test]
GO
/****** Object:  Table [dbo].[category]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[ID] [int] NOT NULL,
	[cname] [nvarchar](30) NOT NULL,
	[explain] [ntext] NULL,
	[picture] [image] NULL,
	[setup] [datetime] NOT NULL,
	[update_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[cID] [nvarchar](20) NOT NULL,
	[cname] [nvarchar](80) NOT NULL,
	[pname] [nvarchar](60) NOT NULL,
	[pjob] [nvarchar](60) NOT NULL,
	[caddress] [nvarchar](120) NOT NULL,
	[city] [nvarchar](120) NOT NULL,
	[area] [nvarchar](30) NOT NULL,
	[postcode] [nvarchar](20) NOT NULL,
	[country] [nvarchar](30) NULL,
	[phone] [nvarchar](48) NOT NULL,
	[fax] [nvarchar](48) NULL,
PRIMARY KEY CLUSTERED 
(
	[cID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderdetail]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetail](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[num] [smallint] NOT NULL,
	[remark] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[ID] [int] NOT NULL,
	[cid] [nvarchar](20) NOT NULL,
	[employeeid] [int] NULL,
	[orderdate] [datetime] NOT NULL,
	[startdate] [datetime] NOT NULL,
	[arrivaldate] [datetime] NOT NULL,
	[confirmtime] [datetime] NOT NULL,
	[delivercost] [money] NOT NULL,
	[oname] [nvarchar](80) NOT NULL,
	[addr] [nvarchar](80) NOT NULL,
	[city] [nvarchar](30) NOT NULL,
	[area] [nvarchar](30) NOT NULL,
	[postcode] [nvarchar](30) NOT NULL,
	[country] [nvarchar](20) NOT NULL,
	[paymethod] [nvarchar](20) NOT NULL,
	[insurance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pici]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pici](
	[ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[ID] [int] NOT NULL,
	[cname] [nvarchar](80) NOT NULL,
	[num] [nvarchar](40) NOT NULL,
	[price] [money] NOT NULL,
	[inventory] [smallint] NOT NULL,
	[ordernum] [smallint] NOT NULL,
	[reordernum] [smallint] NULL,
	[supplystate] [bit] NOT NULL,
	[sid] [int] NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proinfo]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proinfo](
	[piciID] [int] NULL,
	[productID] [int] NULL,
	[prodate] [datetime] NOT NULL,
	[expiration] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[ID] [int] NOT NULL,
	[weight] [int] NULL,
	[cost] [nvarchar](48) NULL,
	[cri] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shippers]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shippers](
	[ID] [int] NOT NULL,
	[sname] [nvarchar](80) NOT NULL,
	[phone] [nvarchar](48) NOT NULL,
	[tool] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 2024/4/9 20:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[ID] [int] NOT NULL,
	[sname] [nvarchar](80) NOT NULL,
	[pname] [nvarchar](60) NOT NULL,
	[pjob] [nvarchar](60) NOT NULL,
	[addre] [nvarchar](120) NOT NULL,
	[city] [nvarchar](30) NOT NULL,
	[area] [nvarchar](30) NOT NULL,
	[postcode] [nvarchar](20) NOT NULL,
	[country] [nvarchar](30) NOT NULL,
	[phone] [nvarchar](48) NOT NULL,
	[fax] [nvarchar](48) NULL,
	[homepage] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[customers] ([cID], [cname], [pname], [pjob], [caddress], [city], [area], [postcode], [country], [phone], [fax]) VALUES (N'ALFKI', N'三川实业有限公司', N'刘小姐', N'销售代表', N'大崇明路 50 号', N'天津', N'华北', N'343567', N'中国', N'(030) 30074321', N'(030) 30765452')
INSERT [dbo].[customers] ([cID], [cname], [pname], [pjob], [caddress], [city], [area], [postcode], [country], [phone], [fax]) VALUES (N'ANATR', N'东南实业', N'王先生', N'物主', N'承德西路 80 号', N'天津', N'华北', N'234575', N'中国', N'(030) 35554729', N'(030) 35553744')
INSERT [dbo].[customers] ([cID], [cname], [pname], [pjob], [caddress], [city], [area], [postcode], [country], [phone], [fax]) VALUES (N'ANTON', N'坦森行贸易', N'王炫皓', N'物主', N'黄台北路 780 号', N'石家庄', N'华北', N'985060', N'中国', N'(0321) 5553932', NULL)
GO
INSERT [dbo].[orderdetail] ([orderID], [productID], [num], [remark]) VALUES (0, 0, 0, NULL)
INSERT [dbo].[orderdetail] ([orderID], [productID], [num], [remark]) VALUES (10248, 17, 12, NULL)
INSERT [dbo].[orderdetail] ([orderID], [productID], [num], [remark]) VALUES (10249, 14, 9, NULL)
GO
INSERT [dbo].[orders] ([ID], [cid], [employeeid], [orderdate], [startdate], [arrivaldate], [confirmtime], [delivercost], [oname], [addr], [city], [area], [postcode], [country], [paymethod], [insurance]) VALUES (10248, N'VINET', 3, CAST(N'1996-07-04T00:00:00.000' AS DateTime), CAST(N'1996-07-16T00:00:00.000' AS DateTime), CAST(N'1996-08-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0.0000, N'余小姐', N'光明北路 124 号', N'北京', N'华北', N'111080', N'中国', N'支付宝', 1)
INSERT [dbo].[orders] ([ID], [cid], [employeeid], [orderdate], [startdate], [arrivaldate], [confirmtime], [delivercost], [oname], [addr], [city], [area], [postcode], [country], [paymethod], [insurance]) VALUES (10249, N'TOMSP', 1, CAST(N'1996-07-05T00:00:00.000' AS DateTime), CAST(N'1996-07-10T00:00:00.000' AS DateTime), CAST(N'1996-08-16T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0.0000, N'谢小姐', N'青年东路 543 号', N'济南', N'华东', N'440876', N'中国', N'微信', 1)
INSERT [dbo].[orders] ([ID], [cid], [employeeid], [orderdate], [startdate], [arrivaldate], [confirmtime], [delivercost], [oname], [addr], [city], [area], [postcode], [country], [paymethod], [insurance]) VALUES (10250, N'HANAR', 2, CAST(N'1996-07-08T00:00:00.000' AS DateTime), CAST(N'1996-07-12T00:00:00.000' AS DateTime), CAST(N'1996-08-05T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0.0000, N'谢小姐', N'光化街 22 号', N'秦皇岛', N'华北', N'754546', N'中国', N'银行卡', 0)
GO
INSERT [dbo].[pici] ([ID]) VALUES (1)
INSERT [dbo].[pici] ([ID]) VALUES (2)
INSERT [dbo].[pici] ([ID]) VALUES (3)
GO
INSERT [dbo].[products] ([ID], [cname], [num], [price], [inventory], [ordernum], [reordernum], [supplystate], [sid], [cid]) VALUES (1, N'苹果汁', N'每箱24瓶', 18.0000, 39, 0, 10, 1, 1, 1)
INSERT [dbo].[products] ([ID], [cname], [num], [price], [inventory], [ordernum], [reordernum], [supplystate], [sid], [cid]) VALUES (2, N'牛奶', N'每箱24瓶', 19.0000, 17, 40, 25, 0, 1, 1)
INSERT [dbo].[products] ([ID], [cname], [num], [price], [inventory], [ordernum], [reordernum], [supplystate], [sid], [cid]) VALUES (3, N'蕃茄酱', N'每箱12瓶', 10.0000, 13, 70, 25, 0, 1, 2)
GO
INSERT [dbo].[proinfo] ([piciID], [productID], [prodate], [expiration]) VALUES (1, 1, CAST(N'1996-07-04T00:00:00.000' AS DateTime), CAST(N'1996-07-16T00:00:00.000' AS DateTime))
INSERT [dbo].[proinfo] ([piciID], [productID], [prodate], [expiration]) VALUES (1, 5, CAST(N'1996-07-05T00:00:00.000' AS DateTime), CAST(N'1996-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[proinfo] ([piciID], [productID], [prodate], [expiration]) VALUES (1, 9, CAST(N'1996-07-08T00:00:00.000' AS DateTime), CAST(N'1996-07-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[roles] ([ID], [weight], [cost], [cri]) VALUES (1, 5, N'100', N'5')
INSERT [dbo].[roles] ([ID], [weight], [cost], [cri]) VALUES (2, 10, N'200', N'10')
INSERT [dbo].[roles] ([ID], [weight], [cost], [cri]) VALUES (3, 25, N'500', N'15')
GO
INSERT [dbo].[shippers] ([ID], [sname], [phone], [tool]) VALUES (1, N'急速快递', N'(010) 65559831', N'飞机')
INSERT [dbo].[shippers] ([ID], [sname], [phone], [tool]) VALUES (2, N'统一包裹', N'(010) 65553199', N'火车')
INSERT [dbo].[shippers] ([ID], [sname], [phone], [tool]) VALUES (3, N'联邦货运', N'(010) 65559931', N'汽车')
GO
INSERT [dbo].[suppliers] ([ID], [sname], [pname], [pjob], [addre], [city], [area], [postcode], [country], [phone], [fax], [homepage]) VALUES (1, N'佳佳乐', N'陈小姐', N'采购经理', N'西直门大街 110 号', N'北京', N'华北', N'100023', N'中国', N'(010) 65552222', NULL, NULL)
INSERT [dbo].[suppliers] ([ID], [sname], [pname], [pjob], [addre], [city], [area], [postcode], [country], [phone], [fax], [homepage]) VALUES (2, N'康富食品', N'黄小姐', N'订购主管', N'幸福大街 290 号', N'北京', N'华北', N'170117', N'中国', N'(010) 65554822', NULL, NULL)
INSERT [dbo].[suppliers] ([ID], [sname], [pname], [pjob], [addre], [city], [area], [postcode], [country], [phone], [fax], [homepage]) VALUES (3, N'妙生', N'胡先生', N'销售代表', N'南京路 23 号', N'上海', N'华东', N'248104', N'中国', N'(021) 85555735', N'(021) 85553349', NULL)
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[customers] ([cID])
GO
ALTER TABLE [dbo].[proinfo]  WITH CHECK ADD FOREIGN KEY([piciID])
REFERENCES [dbo].[pici] ([ID])
GO
ALTER TABLE [dbo].[proinfo]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[products] ([ID])
GO
