<!DOCTYPE html>\n<html class="h-full" lang="en-US" dir="ltr">\n

<head>\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Regular-WebS.woff" as="font"
        type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-RegularItalic-WebS.woff"
        as="font" type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Medium-WebS.woff" as="font"
        type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Semibold-WebS.woff"
        as="font" type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-MediumItalic-WebS.woff"
        as="font" type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-Text.woff" as="font"
        type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-TextItalic.woff" as="font"
        type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold.woff" as="font"
        type="font/woff" crossorigin="anonymous" />\n
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBoldItalic.woff"
        as="font" type="font/woff" crossorigin="anonymous" />\n
    <meta charset="utf-8">\n
    <meta name="author" content="ngrok">\n
    <meta name="description" content="ngrok is the fastest way to put anything on the internet with a single command.">
    \n
    <meta name="robots" content="noindex, nofollow">\n
    <meta name="viewport" content="width=device-width, initial-scale=1">\n
    <link id="style" rel="stylesheet" href="https://cdn.ngrok.com/static/css/error.css">\n <noscript>
        You are about to
        visit 3e13-240e-479-810-1a00-71f4-76e1-7c20-4209.ngrok-free.app, served by
        240e:479:810:1a00:71f4:76e1:7c20:4209. This website is served for free through ngrok.com. You should only visit
        this website if you trust whoever sent the link to you. (ERR_NGROK_6024)</noscript>\n \x3Cscript id="script"
    src="https://cdn.ngrok.com/static/js/error.js" type="text/javascript">\x3C/script>\n
</head>\n

<body class="h-full" id="ngrok">\n <div id="root"
        data-payload="eyJjZG5CYXNlIjoiaHR0cHM6Ly9jZG4ubmdyb2suY29tLyIsImNvZGUiOiI2MDI0IiwiaG9zdHBvcnQiOiIzZTEzLTI0MGUtNDc5LTgxMC0xYTAwLTcxZjQtNzZlMS03YzIwLTQyMDkubmdyb2stZnJlZS5hcHAiLCJtZXNzYWdlIjoiWW91IGFyZSBhYm91dCB0byB2aXNpdCAzZTEzLTI0MGUtNDc5LTgxMC0xYTAwLTcxZjQtNzZlMS03YzIwLTQyMDkubmdyb2stZnJlZS5hcHAsIHNlcnZlZCBieSAyNDBlOjQ3OTo4MTA6MWEwMDo3MWY0Ojc2ZTE6N2MyMDo0MjA5LiBUaGlzIHdlYnNpdGUgaXMgc2VydmVkIGZvciBmcmVlIHRocm91Z2ggbmdyb2suY29tLiBZb3Ugc2hvdWxkIG9ubHkgdmlzaXQgdGhpcyB3ZWJzaXRlIGlmIHlvdSB0cnVzdCB3aG9ldmVyIHNlbnQgdGhlIGxpbmsgdG8geW91LiIsInNlcnZpbmdJUCI6IjI0MGU6NDc5OjgxMDoxYTAwOjcxZjQ6NzZlMTo3YzIwOjQyMDkiLCJ0aXRsZSI6Ik9LIn0=">
    </div>\n </body>\n

</html>\n